@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Bogle&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=BBH+Bartle&family=BBH+Bogle&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top:50px;
    color: white;
    font-family: "Alfa Slab One", serif;
    font-size: 5.5vw;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px white;
}

header > p{
    padding-bottom: 50px;
    font-family: "Alfa Slab One", serif;
    font-size: 2.0vw;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 2.5vw;
    font-family:"Playwrite NZ Basic", cursive;
}

section>p{
    padding-bottom: 2em;
}

section.texto{
    background-color: white;
}

section.imagem{
    background-color: rgba(51, 51, 51,);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.788);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem>p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    width: 400px;
    text-shadow: 1px 1px 0px;
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02{
    background-image: url(imagens/background002.jpg);
   
}



footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-family:"Playwrite NZ Basic", cursive; 
}